<div class="log--in">
    <form class="form-container center" #logInForm="ngForm" (ngSubmit)="onLogInUser(logInForm.value)" >
        <mat-card class="card">
            <mat-card-header class="padding-bottom header">
               <mat-card-title class="center" >LOGIN</mat-card-title> 
            </mat-card-header>
            <mat-card-content>
                <div>
                    <div>
                        <mat-form-field class="form-full-width input--shadow">
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="petter@example.com" ngModel name="email" required email #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            <mat-error *ngIf="email.errors?.required && email.touched">enter email</mat-error>
                            <mat-error *ngIf="email.errors?.pattern">enter valid email</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="form-full-width input--shadow">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" ngModel name='password' required password #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8}" > 
                            <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password.errors?.required && password.touched">password required</mat-error>
                            <mat-error *ngIf="password.errors?.pattern">Enter password with 8 char containing capital,lowercase,digit and number</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
    
            <mat-card-actions>
                <div class="log-in-button">
                    <button mat-raised-button color="primary" [disabled]="!logInForm.form.valid" class="form-full-width">Log In</button>
                </div>
            </mat-card-actions>
        </mat-card>
        
    </form>
</div>