.form-container mat-form-field + mat-form-field {
    margin-left: 8px;
}
.user-detail-container{
    height: auto;
    background-image:url('backgroundImg.webp');
    background-size: cover;    
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card--height{
    max-height: 936px;
    overflow-y: auto;
}
.header{
    background-color: #a5a5ff;
    padding-left: 4%;
    margin-bottom: 5%;
}
.form-container{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 20px 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for firefox */

/* input[type=number] {
    -moz-appearance: textfield;
} */

.padding-bottom{
    padding-bottom: 16px;
}
.padding-top{
    padding-top: 16px;
}
.center{
    margin-left:auto;
    margin-right: auto;
}
.gender{
    margin-left: 16px;
}
.text--red{
    color: red;
}
.form-full-width {
    width: 100%;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    margin-right: 8px;
    gap: 8%;
    padding-bottom: 5%;
    /* margin-left: 8px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    margin-right: 8px; */
}
.add-address-button{
    background-color: #c9c9f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.error--message{
    color:#f44336;
    margin-left: 17px;
    font-size: 12px;
}
.tel--input{
    .iti{
        width: 100% !important;
        height: 50px !important;
    }
    .iti--allow-dropdown input,  .iti--allow-dropdown input[type=tel]{
        width: 100% !important;
        height: 50px !important;
        background-color:#f1efef;
        border-top: #3b3838b0;
        border-left: #3b3838b0;
        border-right: #b1b1b1b0;
        outline: none;
        border-bottom-color: #bdb9b9;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
}
.input--shadow{
    .mdc-text-field--filled:not(.mdc-text-field--disabled){
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
@media screen and (max-width:768px) {
    .form-container{
        max-width: 450px;
    }    
}
@media screen and (max-width:480px) {
    .form-container{
        max-width: 350px;
    }
}
@media screen and (max-width:320px) {
    .form-container{
        max-width: 295px;
    }
}