<div class="user-detail-container">
    <form class="form-container center" [formGroup]="userForm" (ngSubmit)="onSubmitUser()">
        <mat-card class="card card--height">
            <mat-card-header class="padding-bottom header">
                <mat-card-title class="center">USER DETAIL FORM </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <div>
                        <mat-form-field class="form-full-width input--shadow">
                            <mat-label>Enter your name</mat-label>
                            <input type="text" matInput formControlName="name">
                            <mat-error *ngIf="userFormControl.name.touched && userFormControl.name.invalid">
                                Please enter your name
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="padding-bottom">

                        <mat-form-field class="form-full-width input--shadow">
                            <mat-label>Choose a date of birth</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dob" [min]="min" [max]="max"
                                (click)="picker.open()">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="userFormControl.dob.touched && !userFormControl.dob.valid">
                                Please enter your date of birth
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div>
                        <mat-form-field class="form-full-width input--shadow">
                            <mat-label>Enter your email</mat-label>
                            <input type="email" matInput formControlName="email">
                            <mat-error *ngIf="userFormControl.email.errors?.pattern">
                                invalid pattern
                            </mat-error>
                            <mat-error *ngIf="userFormControl.email.touched && !userFormControl.email.valid">
                                Please enter your email address
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-full-width padding-bottom ">
                        <div class="form-full-width">
                            <ngx-intl-tel-input class="tel--input" [cssClass]="'custom'"
                                [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                                [enablePlaceholder]="true" [searchCountryFlag]="true"
                                [searchCountryField]="[SearchCountryField.Iso2,SearchCountryField.Name]"
                                [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                                [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                [numberFormat]="PhoneNumberFormat.National" name="number" formControlName="number">
                            </ngx-intl-tel-input>
                        </div>
                        <div class="error--message"
                            *ngIf="userFormControl.number.invalid && userFormControl.number.touched">Enter valid number
                        </div>
                    </div>
                    <div formGroupName="education">
                        <div>
                            <mat-form-field class="form-full-width input--shadow">
                                <mat-label>Enter institute name</mat-label>
                                <input type="text" matInput formControlName="institute">
                                <mat-error
                                    *ngIf="userFormControl.education.touched && !userFormControl.education.valid">
                                    Please enter your institute
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="form-full-width input--shadow">
                                <mat-label>Catagory of education</mat-label>
                                <mat-select formControlName="catagory">
                                    <mat-option value='SSC'>SSC</mat-option>
                                    <mat-option value="HSC">HSC</mat-option>
                                    <mat-option value="Bachelors">Bachelors</mat-option>
                                    <mat-option value="Masters">Masters</mat-option>
                                </mat-select>
                                <mat-error *ngIf="userFormControl.education['controls'].catagory.touched && userFormControl.education['controls'].catagory.invalid" >
                                    Please enter your catagory of education
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="form-full-width input--shadow">
                                <mat-label>Enter percentage</mat-label>
                                <input type="number" matInput formControlName="percentage">
                                <span matTextSuffix>%</span>
                                <mat-error
                                    *ngIf="userFormControl.education.touched && !userFormControl.education.valid">
                                    Please enter your percentage
                                </mat-error>
                                <mat-error
                                    *ngIf="userFormControl.education.errors?.max && userFormControl.education.errors?.min">
                                    Please enter your percentage
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="hobby">
                        <h4>Select your hobby:</h4>
                        <div><mat-checkbox formControlName="art">Art</mat-checkbox></div>
                        <div><mat-checkbox formControlName="music">Music</mat-checkbox></div>
                        <div><mat-checkbox formControlName="dance">Dance</mat-checkbox></div>
                        <div><mat-checkbox formControlName="read">Reading Books</mat-checkbox></div>
                    </div>
                    <div class="padding-bottom">
                        <label for="gender">Gender<span class="text--red">*</span>:</label>
                        <mat-radio-group aria-label="Select an option" formControlName="gender">
                            <mat-radio-button value="male">Male</mat-radio-button>
                            <mat-radio-button value="female">Female </mat-radio-button>
                            <mat-radio-button value="other">Other </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <mat-error *ngIf="userFormControl.gender.touched && !userFormControl.gender.valid">
                        Please select your gender
                    </mat-error>
                    <div>
                        <button class="add-address-button" mat-raised-button (click)="addAddress()" type="button"> Add
                            Address
                        </button>
                    </div>
                    <div formArrayName="address">
                        <div *ngFor="let newAddress of address.controls; let i = index">
                            <div [formGroup]="newAddress">
                                <mat-form-field class="form-full-width padding-top input--shadow">
                                    <mat-label>Address No. {{i+1}} </mat-label>
                                    <textarea matInput formControlName="addedAddress"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="form-full-width input--shadow padding-top">
                            <mat-label>Your Summary </mat-label>
                            <textarea matInput formControlName="summary"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions class="buttons">
                <span class="card">
                    <button mat-raised-button color="primary" [disabled]="!userForm.valid">Submit</button>
                </span>
                <span class="card">
                    <button mat-raised-button color="primary" type="reset">Reset</button>
                </span>
            </mat-card-actions>
        </mat-card>

    </form>
</div>